#menuEscapeRoom li {
    display: inline;
    text-align: center;
    margin: 0 -17px 0 0;
    border-top: 2px solid #6e00ff;
    padding: 1%;
    padding-right: 2.5%;
    padding-left: 2%;
    font-weight: 600;

}

.escenas{
    border-right: 2px solid #6e00ff;
    border-left: 2px solid #6e00ff;
    border-radius: 16px 16px 0 0;
    color: #8500ff;
}

.preguntas{
    border-right: 2px solid #6e00ff;
    border-radius: 0 16px 0 0;
}

.llaves, .pistas{
    border-right: 2px solid #6e00ff;
    border-radius: 0 16px 0 0; 
}

#menuEscapeRoom {
    margin-left: -2%;
}

#menu {
    margin-left: 8%;
}

.closeModalButton {
    margin-left: 0%;
    
}

#borderDiv{
    border-top: 2px solid #6e00ff;
    border-radius: 16px;
    height: 30px;
    margin-top: -0.4%;
}

.addScene {
    margin-left: 3%;
}

#pano {
    height: 255px;
    border-radius: 16px;
    margin-top: 5%;
}

#menu > span{
    font-size: larger;
    font-weight: 500;
    margin-left: 3%;
}

.selectAudioForUpdateQuestion {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
}

#contentUpdateAudio {
    max-height: 65%;
    overflow: auto;
}

#changeZone {
    top: 67%!important;
    left: 61%!important;
    width: 5%;
}

#modalMap #changeZone{
    left: 78%!important;
    top: 71%!important;
    width: 8%!important;
}

.more-link, .less-link {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

#allQuestions, #allClues{
    overflow: auto;
}

/* a:link, a:visited, a:active {
    text-decoration:none;
} */