/*---------------------------------------------------------------
| Estilos especificos del sitio para cada uno de los elementos  |
| de la sección de backend.                                     |
---------------------------------------------------------------*/

/* GENERAL */
body{
	position: absolute;
    float: left;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
	font-family: 'Raleway', sans-serif;
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
display:none;
}

::-webkit-scrollbar-thumb {
background: #b4b4b4; 
border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
background: #000000; 
}

/* BOTONES */
button:focus {outline:0;}
button:hover{cursor: pointer;}
button{
	background-color: #8500FF;
	border-radius: 50px;
	border:none;
	padding: 8px 18px;
	color:white;
	font-weight: bold;
}
button.second{
	background-color: #B8B8B8;
}

/* CAMPOS DE TEXTO */
input:focus {outline:0;}
input[type=text], input[type=number]  {
	border-radius: 50px;
    border: 1px solid gray;
    padding: 4px 13px;
}
textarea {
	border-radius: 5px;
    border: 1px solid gray;
	padding: 4px 13px;
	font-family: 'Raleway', sans-serif;
}

/*---------------------------------------------------------*/

/* MENU DE NAVEGACION */
nav{
	position:fixed;
	/*Sombra*/
	-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.09);
	box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.09);
}

/*---------------------------------------------------------*/

/* CONTENIDO PRINCIPAL */
main{
	margin-left: 15%;
}
#contentMain{
	padding:40px 40px 90px 40px;
}

/*---------------------------------------------------------*/

/* PIE DE PÁGINA */
footer{
	/*Pegar barra a la parte inferior*/
	position: absolute;
    bottom: 0;
	
	padding:15px 0px;
	height:20px;
	margin-top:25px;
	background-color: #363636;
	color: #fff;
}

/*---------------------------------------------------------*/
/* ESTILO BACKEND ESCENAS                                  */
/*---------------------------------------------------------*/

#mainScene{
	margin-left: 0%;
}
#titleScene{
	position: relative;
	background-color: transparent;
    border: none;
    font-family: raleway;
    font-weight: bold;
    font-size: 23px;
    margin-left: 30px;
    margin-top: 10px;
	color: white;
	width: 20%;
}
#titleScene:focus {
	border-bottom: 2px solid white;
}
#menuScenes{
	position: relative;
	background-color: white;
	color: black;
	padding: 0 25px;
	box-sizing: border-box;
}
#setViewDefault{
	position: fixed;
	bottom:10px;
	left:20px;
}
.cursorAddHotspot{
	cursor :cell!important;
}
#editHotspot{
	position: relative;
}
#editHotspot .title{
	position: relative;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    background-color: #6e00ff;
    left: -25px;
    color: white;
    width: calc(100% + 50px);
    float: left;
    margin-bottom: 20px;
}
#editHotspot label{
	padding: 4px 13px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(104, 104, 104);
}
.ActionEditButtons{
	position: absolute;
	bottom: 0;
}

/* Hotspot texto */
#editHotspot textarea{
	height: 160px;
}

/* Hotspot video */
#videoHotSpot .content{
	overflow-y: scroll;
	height: 70%;
	float: left;
	width: calc(100% + 10px);
}
.previewVideo{
	padding: 10px 35px;	
}
.previewVideo img:hover{
	cursor: pointer;
}
.previewVideo img{
	border-radius: 15px;
	background-color: #6e00ff;
}
.videoSelected{
	border: 5px solid #6e00ff;
}
.previewVideo span{
	margin-top: 8px
}


/*---------------------------------------------------------*/
/* ESTILO VENTANAS MODALES                                 */
/*---------------------------------------------------------*/
div#modalWindow {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: none;
}