/* GENERAL */
div{	
	/* Limitar tamanno */
	box-sizing:border-box; 
	-moz-box-sizing:border-box; /* Firefox */ 
	-webkit-box-sizing:border-box; /* Safari */
}
#menuFront{
    color: black;
    background-color: white;
}
#titleFront{
    height: 80px;
    padding-left: 32px;
    font-size: 30px;
    font-weight: bold;
    /* Centrado vertical */
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    align-items: center;  
}
#titleFront .lineSub{
    background-color: black;
    height: 4px;
    width: 55px;
    float: left;
}

#titlePanel{
    left: 37px;
    top:20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
#titlePanel .lineSub{
    background-color: white;
    height: 4px;
    width: 55px;
    float: left;
}
/* BARRA DE SCROLL */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	display:none;
}
::-webkit-scrollbar-thumb {
	background: #b4b4b4; 
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #000000; 
}

/******************** PORTADA ******************/

#coverCenter{
    flex-flow: column nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}
#titleIndex{
    font-size: 65px;
    font-weight: 900;
}
#buttonsIndex{
    margin-top: 25px;
}
#buttonsIndex a{
    width: 15%;
    margin-right: 30px;
}
#buttonsIndex button{
    width: 100%;
    
    border-radius: 50px;
    border: 2px white solid;
    color: white;
    font-weight: 700;
    background-color: transparent;
    height: 35px;
}
#buttonsIndex button:hover{
    cursor: pointer;
    background: white;
    color: black;
}
#footerIndex{
    bottom: 0;
    text-align: right;
    padding: 10px 20px;
}
#footerIndex a{
    opacity: 0.6;
}
.opacityFooter{
    opacity: 0.6;
}
#footerIndex a:hover{
    opacity: 1;
}


/************* VISITA LIBRE *************/

#sScenesButton{
    top: 20;
    right: 37;
    width: 3%;
    cursor: pointer;
}
.titSSecond{
    padding: 0px 30px;
}
#closeSSecondary{
    width: 22px;
    top: 0;
    right: 0;
    fill: white;
    pointer-events: all;
    cursor: pointer;
}

/* MAPA VISITA LIBRE */

.pointMap{
    width: 2.8%;
    position: absolute;
    cursor: pointer;
    pointer-events: all;
}

.pointMapInside{
    width: 100%;
    padding-top: 100%;
    background-color: white;
    border-radius: 50px;
}

.activePoint .pointMapInside{
    animation-name: active;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: rgb(255, 217, 0);
}
@keyframes active {
    0% {transform: scale(1)}
    50% {transform: scale(1.3)}
    100%{transform: scale(1)}
}
.map img{
    opacity: 0.6;
}

#leftPanel{
    bottom: 30px;
    left: 30px;
    pointer-events: none;
}

#buttonsFloor{
    bottom: 0;
    right: 0;
    pointer-events: all;
}

#buttonsFloor #buttonsFloorCont{
    bottom: 0;
}

.map{
    position: absolute;
    bottom: 0;
    transform: translateY(150%);
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease;
}

#actionButton{
    bottom: 0;
}

.showContentMap .showMap{
    transform: translateY(0);
}

#floorDown, #floorUp{
    padding: 7px 13px;
    transition: transform 0.3s ease;
    pointer-events: all;
}

#floorDown:hover, #floorUp:hover{
    cursor: pointer;
    transform: scale(0.8);
}
#closeMap{
    padding: 7px 18px;
    fill:white;
    opacity:.6;
}

/* BOTON HOME */
#buttonReturn{
    padding: 7px 9px;
    pointer-events: all;
    cursor: pointer;
}

#buttonReturn svg{
    fill:white;
}

/* BOTON FULL SCREEN */
#buttonFullScreen{
    padding: 7px 13px;
    pointer-events: all;
    cursor: pointer;
}
#buttonFullScreen svg{
    fill:white;
}

/* BOTON MAPA */
#buttonMap{
    padding: 7px 13px;
    pointer-events: all;
}
#buttonMap:hover{
    cursor: pointer;
}
#buttonMap svg{
    fill:white;
}

/******************** PUNTOS DESTACADOS ******************/

.highlight{
    float: left;
    height: 33.333333%;
    padding: 12px;
}
.elementInside{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.elementInside:hover{
    cursor: pointer;
}
.elementInside:hover img{
    transform: scale(1.2);
    filter: grayscale(100%) brightness(100%);
}
.elementInside img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(0%) brightness(70%);
    /*Transicion*/
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.elementInside span{
    position: absolute;
    bottom: 8px;
    right: 18px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
#tableHigh{
    height: calc(100% - 80px);
    padding: 0px 20px 20px 20px;
}
#buttonHigh{
    padding: 7px 11px;
    pointer-events: all;
}
#buttonHigh:hover{
    cursor: pointer;
}

/******************** VISITAS GUIADAS ******************/
#startVisit{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 15px;
    color:black;
}
#startVisit button{
    border: none;
    border-radius: 50px;
    color:black;
    padding: 7px 30px; 
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    background-color: #8500FF
}
#startVisitTitle{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin:8px 0px 23px 0px;
}
#startVisit .textList{
    width: calc(100% - 47px);
    float: left;
}
#startVisit .listElement{
    padding: 12px 40px;
}
#startVisit .list svg{
    width: 27px;
    margin-right: 20px;
    float: left;
}
#contentVisits .elementInside span{
    padding: 25px 80px;
}
#contentVisits{
    height: calc(100% - 80px);
    padding: 0px 20px 20px 20px;
    overflow: auto;
}
#contentVisits .visit{
    padding: 12px;
    height: 200px;
}
.visitInside:hover .desGuided{
    opacity: 1;
}
.visitInside:hover .titGuided{
    opacity: 0;
}
.visitInside:hover img{
    transform: scale(1.2);
    filter: grayscale(100%) brightness(50%);
}
.titGuided{
    left: 0;
    top:0;
    font-size: 30px;
    font-weight: bold;
    /* Centrado vertical y horizontal*/
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
}
.desGuided{
    opacity: 0;
    left: 0;
    top:0;
    font-size: 20px;
    font-weight: normal!important;
    text-transform: inherit!important;
    /* Centrado vertical y horizontal*/
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
}
#controlVisit{
    bottom: 37px;
    width: 30%;
    right: 37px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
#controlVisit svg:hover, progress:hover{
    cursor: pointer;
}
#previusScene{
    transform: rotate(-90deg);
}
#nextScene{
    transform: rotate(90deg);
}

progress {
    -webkit-appearance: none;
    height: 12px;
}
progress::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
}
progress::-webkit-progress-value {
    background-color: rgb(0, 0, 0);
}
progress::-moz-progress-bar {
    background-color: rgb(189, 189, 189);
}
.scenesPanelHide{
    transform: translateX(150%);
}
#scenesPanel{
    top: 30px;
    right: 30px;
    pointer-events: none;
     /*Transicion*/
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
}
#contentScenesPanel{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70%;
}
.sceneElement{
    width: 70%;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: calc(15% + 10px);
    margin-right: calc(15% - 10px);
    cursor: pointer;
    pointer-events: all;
}
#titleScenesPanel{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 6px;
}
.sceneElementInside{
    padding-top: 75%;
    width: 100%;
    border-radius: 10px;
    background-size: 100% auto;
    background-position: 50% 50%;
     /*Transicion*/
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
     transition: all 0.8s ease;
}
.sceneElementInside:hover{
    background-size: 140% auto;   
}
.selected   .sceneElementInside:hover{
    background-size: 100% auto!important;   
}
.sceneElementInside span.titScene{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: break-word;
}
.sceneElementInside .num{
    font-size: 25px;
}
.sceneElementInside .date{
    font-size: 20px;
    margin-bottom: 5px;
}
#activeScene{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 15%;
    margin-left: 4px;
}
.backElementScene{
    position:absolute; 
    height: 100%; 
    width:100%; 
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    left:0; 
    top:0;
}
#contentScenesPanel{
    pointer-events: all!important;
}

/* VENTANA MODAL */
#modalWindow {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.753);
	width: 100%;
	height: 100%;
	z-index: 60;
}
#modalWindow #containerModal{
	width: 100%;
	height: 100%;
	/* Centrado vertical y horizontal */
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#modalWindow .window{
	position: relative;
	background-color: white;
	width: 50%;
	border-radius: 15px;
	/*Limitar tamaño respecto a padding*/
	padding: 35px 50px;
}
#modalWindow .sizeWindow70{
	width: 70%!important;
}

#modalWindow .sizeWindow40{
	width: 40%!important;
}

.titleModal{
	font-size: 23px;
	font-weight: bold;
	color:black;
}
.closeModal{
	position: absolute;
	top:20px;
	right: 20px;
	background: none;
    padding: 0;
    border:none;
    cursor: pointer;
}
.closeModal svg{
	width: 15px;
}

#txtOption{
    min-height: 75px;
}

#txtOption span{
    /*Transicion*/
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    opacity:0;
    font-weight: bold
}

.showTextOption{
    opacity: 1!important;
}

/* ATENUAR HOTSPOTS */
.hotspotElement{
    opacity: 0.4!important;
    /*Transicion*/
    -webkit-transition: opacity 0.5s ease !important;
    -moz-transition: opacity 0.5s ease !important;
    -o-transition: opacity 0.5s ease !important;
    transition: opacity 0.5s ease !important;
}

.hotsLowOpacity{
    opacity: 0!important;
    -webkit-transition: opacity 6.8s ease !important;
    -moz-transition: opacity 6.8s ease !important;
    -o-transition: opacity 6.8s ease !important;
    transition: opacity 6.8s ease !important;
}

.hotspotElement:hover{
    opacity: 1!important;
    /*Transicion*/
    -webkit-transition: opacity 0.5s ease !important;
    -moz-transition: opacity 0.5s ease !important;
    -o-transition: opacity 0.5s ease !important;
    transition: opacity 0.5s ease !important;
}

/* HOTSPOT DE TIPO VIDEO */
.contentVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000af;
    pointer-events: all;
}

.contentVideo .aspectRatioVideo{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: relative; 
    width: 60%;
    padding-top: 33.75%; /* 16:9 Aspect Ratio */
}

.contentVideo iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0!important;
}

.contentVideo #closeButton{
    position: absolute;
    width: 32px;
    top:40px;
    right: 40px;
    cursor: pointer;
    pointer-events: all;
    fill:white;
}


/* HOTSPOT DE TIPO AUDIO */
.contentAudio{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.contentAudio #controlVisit {
    pointer-events: all!important;
}

.listSubt{
    bottom: 87px;
    right: 37px;
    background-color: white;
    border-radius: 5px;
    color:black;
    margin-bottom: 10px;
    font-size: 13px;
    padding:7px 0px;
}


.listSubt div{
    padding:4px 8px;
    pointer-events: all;
}

.listSubt .subtOption:hover, #subtDis:hover{
    background-color: rgb(224, 224, 224);
}

.activeSubtOption{
    background-color: rgb(0, 0, 0)!important;
    color:white;
}

.subtText{
    width: 60%;
    position: absolute;
    bottom: 37px;
    right: calc(30% + 37px);
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0px 20px;
}
