/* GENERAL */
div{	
	/* Limitar tamanno */
	box-sizing:border-box; 
	-moz-box-sizing:border-box; /* Firefox */ 
	-webkit-box-sizing:border-box; /* Safari */
}
#menuFront{
    color: black;
    background-color: white;
}
#titleFront{
    height: 80px;
    padding-left: 32px;
    font-size: 30px;
    font-weight: bold;
    /* Centrado vertical */
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    align-items: center;  
}
#titleFront .lineSub{
    background-color: black;
    height: 4px;
    width: 55px;
    float: left;
}

#titlePanel{
    left: 37px;
    top:20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
#titlePanel .lineSub{
    background-color: white;
    height: 4px;
    width: 55px;
    float: left;
}
/* BARRA DE SCROLL */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	display:none;
}
::-webkit-scrollbar-thumb {
	background: #b4b4b4; 
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #000000; 
}

/******************** PORTADA ******************/

#coverCenter{
    flex-flow: column nowrap;
    margin-top: -50px
}
#titleIndex{
    font-size: 65px;
    font-weight: 900;
}
#buttonsIndex{
    margin-top: 25px;
}
#buttonsIndex a{
    width: 15%;
    margin-right: 30px;
}
#buttonsIndex button{
    width: 100%;
    
    border-radius: 50px;
    border: 2px white solid;
    color: white;
    font-weight: 700;
    background-color: transparent;
    height: 35px;
}
#buttonsIndex button:hover{
    cursor: pointer;
    background: white;
    color: black;
}
#footerIndex{
    bottom: 0;
    text-align: right;
    color:#ffffff87;
    padding: 10px 20px;
}
#footerIndex a:hover{
    color:white;
}

/************************************************
               ¡¡¡ EFECTO TUNEL !!!  (*intento)
*************************************************/

#pano{
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}

.panoTunnel{
    transform: scale(2.8);
    filter: blur(4px);
}

@keyframes tunnel {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2.8);
    }
}

/* MAPA VISITA LIBRE */

.pointMap{
    width: 2.8%;
    position: absolute;
    cursor: pointer;
}

.pointMapInside{
    width: 100%;
    padding-top: 100%;
    background-color: white;
    border-radius: 50px;
}

.activePoint .pointMapInside{
    animation-name: active;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: rgb(255, 217, 0);
}
@keyframes active {
    0% {transform: scale(1)}
    50% {transform: scale(1.3)}
    100%{transform: scale(1)}
}
.map img{
    opacity: 0.6;
}

#leftPanel{
    bottom: 30px;
    left: 30px;
}

#buttonsFloor{
    bottom: 0;
    right: 0;
}

#buttonsFloor #buttonsFloorCont{
    bottom: 0;
}

.map{
    position: absolute;
    bottom: 0;
    transform: translateY(150%);
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease;
}

#actionButton{
    bottom: 0;
}

.showContentMap .showMap{
    transform: translateY(0);
}

#floorDown, #floorUp{
    padding: 7px 13px;
    transition: transform 0.3s ease;
}

#floorDown:hover, #floorUp:hover{
    cursor: pointer;
    transform: scale(0.8);
}
#closeMap{
    padding: 7px 18px;
    fill:white;
    opacity:.6;
}

/* BOTON FULL SCREEN */
#buttonFullScreen{
    padding: 7px 13px;
}
#buttonFullScreen:hover{
    cursor: pointer;
}
#buttonFullScreen svg{
    fill:white;
}

/* BOTON MAPA */
#buttonMap{
    padding: 7px 13px;
}
#buttonMap:hover{
    cursor: pointer;
}
#buttonMap svg{
    fill:white;
}

/******************** PUNTOS DESTACADOS ******************/

.highlight{
    float: left;
    height: 33.333333%;
    padding: 12px;
}
.elementInside{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.elementInside:hover{
    cursor: pointer;
}
.elementInside:hover img{
    transform: scale(1.2);
    filter: grayscale(100%) brightness(100%);
}
.elementInside img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(0%) brightness(70%);
    /*Transicion*/
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.elementInside span{
    position: absolute;
    bottom: 8px;
    right: 18px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
#tableHigh{
    height: calc(100% - 80px);
    padding: 0px 20px 20px 20px;
}
#buttonHigh{
    padding: 7px 11px;
}
#buttonHigh:hover{
    cursor: pointer;
}

/******************** VISITAS GUIADAS ******************/
#startVisit{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 15px;
    color:black;
}
#startVisit button{
    border: none;
    border-radius: 50px;
    color:black;
    padding: 7px 30px; 
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    background-color: #8500FF
}
#startVisitTitle{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin:8px 0px 23px 0px;
}
#startVisit .textList{
    width: calc(100% - 47px);
    float: left;
}
#startVisit .listElement{
    padding: 12px 40px;
}
#startVisit .list svg{
    width: 27px;
    margin-right: 20px;
    float: left;
}
#contentVisits .elementInside span{
    padding: 25px 80px;
}
#contentVisits{
    height: calc(100% - 80px);
    padding: 0px 20px 20px 20px;
    overflow: auto;
}
#contentVisits .visit{
    padding: 12px;
    height: 200px;
}
.visitInside:hover .desGuided{
    opacity: 1;
}
.visitInside:hover .titGuided{
    opacity: 0;
}
.visitInside:hover img{
    transform: scale(1.2);
    filter: grayscale(100%) brightness(50%);
}
.titGuided{
    left: 0;
    top:0;
    font-size: 30px;
    font-weight: bold;
    /* Centrado vertical y horizontal*/
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
}
.desGuided{
    opacity: 0;
    left: 0;
    top:0;
    font-size: 20px;
    font-weight: normal!important;
    text-transform: inherit!important;
    /* Centrado vertical y horizontal*/
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
}
#controlVisit{
    bottom: 37px;
    width: 40%;
    left: 30%;
    height: 60px;
    background-color: white;
    border-radius: 15px;
}
#controlVisit svg:hover, progress:hover{
    cursor: pointer;
}
#previusScene{
    transform: rotate(-90deg);
}
#nextScene{
    transform: rotate(90deg);
}

progress {
    -webkit-appearance: none;
    height: 15px;
}
progress::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
}
progress::-webkit-progress-value {
    background-color: rgb(0, 0, 0);
}
progress::-moz-progress-bar {
    background-color: rgb(189, 189, 189);
}
.scenesPanelHide{
    transform: translateX(150%);
}
#scenesPanel{
    top: 30px;
    right: 30px;
     /*Transicion*/
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
}
#contentScenesPanel{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70%;
}
.sceneElement{
    width: 70%;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: calc(15% + 10px);
    margin-right: calc(15% - 10px);
    cursor: pointer;
}
#titleScenesPanel{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sceneElementInside{
    padding-top: 75%;
    width: 100%;
    border-radius: 10px;
    background-size: 100% auto;
    background-position: 50% 50%;
     /*Transicion*/
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
     transition: all 0.8s ease;
}
.sceneElementInside:hover{
    background-size: 140% auto;   
}
.selected   .sceneElementInside:hover{
    background-size: 100% auto!important;   
}
.sceneElementInside span.titScene{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: break-word;
}
.sceneElementInside .num{
    font-size: 30px;
}
#activeScene{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 15%;
    margin-left: 4px;
}
.backElementScene{
    position:absolute; 
    height: 100%; 
    width:100%; 
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    left:0; 
    top:0;
}

