#addScene {
    height: auto;
    border: 1px solid red;
    position: relative;
    float: left;
    margin-left: 5%;
}

.icon{
    width: 2.8%;
    position: absolute;
}

.scenepoint {
    cursor: pointer;
}

.icon:hover {
    width: 3.1%;
}

#menuModalAddScene {
    float: left;
    border: 2px solid black;
    margin: 4% 0 0 3%;
    display: none;
}

#closeModalButton {
    position: absolute;
    float: left;
    width: 40px;
    margin-left: 95%;
    margin-top: 2%;
}

#changeZone {
    position: absolute;
    left: 10%;
    top: 8%;
}

.oneZone{
    margin-bottom: 4%;
}