#addScene {
    width: 65%;
    height: 90%;
    /* border: 1px solid red; */
    float: left;
    position: relative;
}

.icon{
    width: 2.8%;
    float: left;
    position: absolute;
}

.scenepoint {
    cursor: pointer;
}

.icon:hover {
    width: 3.1%;
}

#menuModalAddScene, #menuModalUpdateScene {
    float: left;
    position: absolute;
    left: 68%;
    /* border: 2px solid black; */
    margin: 4.3% 0 0 3%;
    display: none;
}

#pano {
    float: left;
    position: relative;
    border: 1px solid red;
    width: 350px;
    height: 350px;
}

#pano > *{
    width: 100%;
}

.deleteButton {
    background-color: #DF3737;
}