.icon{
    width: 2.8%;
    float: left;
    position: absolute;
}

.scenepoint {
    cursor: pointer;
}

.icon:hover {
    width: 3.1%;
}

#pano {
    border-radius: 15px;
    height: 240px;
}

#pano > *{
    width: 100%;
}

