#addScene {
    width: 65%;
    height: 90%;
    /* border: 1px solid red; */
    float: left;
    position: relative;
}

.icon{
    width: 2.4%;
    float: left;
    position: absolute;
}

.scenepoint {
    cursor: pointer;
}

.icon:hover {
    width: 2.9%;
}

#menuModalAddScene, #menuModalUpdateScene {
    float: left;
    position: absolute;
    left: 68%;
    /* border: 2px solid black; */
    margin: 4.3% 0 0 3%;
    display: none;
}

#pano {
    float: left;
    position: relative;
    border: 1px solid red;
    width: 350px;
    height: 350px;
}

#pano > *{
    width: 100%;
}

.deleteButton {
    background-color: #DF3737;
}

/* CHECKBOXES */
.checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    margin-left: 5%;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom checkbox */
.check {
    position: absolute;
    top: 4px;
    left: -8px;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* on mouse-over, add border color */
.checkbox:hover input ~ .check {
    border: 2px solid #6C00CE;
}

/* add background color when the checkbox is checked */
.checkbox input:checked ~ .check {
    background-color: #8500FF;
    /* border:none; */
}

/* create the checkmark and hide when not checked */
.check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the checkmark when checked */
.checkbox input:checked ~ .check:after {
    display: block;
}

/* checkmark style */
.checkbox .check:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}