/* ANIMACION PARA RECURSOS SELECCIONADOS */
.resourceSelected {
    animation-name: resourceSelected;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes resourceSelected {
    from {transform: scale(1)}
    to {transform: scale(0.8)}
}

/* ZONAS DE LA VENTANA MODAL */
#modalportkey{
    width: 60%;
}
.addScene{
    width: 85%;
}
#changeZone{
    top: 69.3%;
    left: 85%;
}
#floorUp, #floorDown{
    width: 150%;
}
.closeModalButton {
    display: none;
}

#pano{
    width:100%;
    margin-left: 0%;
    height: 55%;
    position: relative;
}