#hintspot {
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;

  opacity: 1;
  transition: opacity 0.2s;

  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

#hintspot svg {
  padding: 10px;
}

#hintspot svg path{
  fill: #fff!important;
}

#hintspot:hover {
  opacity: 1;
}

#jumpHotspot > input{
  width: 100%
}

/* HOTSPOT ACTIVO */
.active#hintspot svg path {
  fill: #6e00ff!important;
  opacity: 1;
}
