/* Hotspot translador */
.portkey{
	width: 60px; 
	margin-left: -30px;
	margin-top: -30px;
	opacity: 0.8;
	transition: opacity 0.2s;
	padding: 10px;
	cursor: pointer; 
    box-sizing: border-box;
    
}

.contentPortkey{
	width: 177px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 12px;
    padding: 15px 10px;
    position: absolute;
    left: -60px;
}

.contentPortkey .floor{
    padding: 8px 0px;
	text-align: center;
	font-weight: bold;
	/*Transicion*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
}

.contentPortkey .floor:hover{
	background-color: rgb(214, 214, 214);
}

.contentPortkey .floor:hover span{
	transform: scale(0.95);
}

.contentPortkey .floor:nth-child(odd){
	border-top: 1.5px solid rgb(214, 214, 214);
	border-bottom:1.5px solid rgb(214, 214, 214);
}
.contentPortkey .floor:last-child{
	border-bottom:1.5px solid rgb(214, 214, 214);
}
.contentPortkey .floor:first-child{
	border-top: 1.5px solid rgb(214, 214, 214);
}

/* Expandir para mostrar el contenido */
.portkey .contentPortkey {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transform-origin: top;
    -webkit-transform-origin: top;
}
  
.portkey.expanded .contentPortkey {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);    
}

/* HOTSPOT ACTIVO */
.active.portkey svg {
    fill: #6e00ff!important;
    opacity: 1;
  }