iframe{
  border-radius: 20px;
}

#video {
  width: 66px;
  height: 66px;
  margin-left: -30px;
  margin-top: -30px;
}

#video .icon_wrapper {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

/* HOTSPOT INACTIVO */
/*Circulo*/
#video .icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  border: 4px solid #fff;
  transition: all .2s ease-in-out;
}

/*Circulo externo rat贸n posicionado encima*/
#video .icon_wrapper:hover {
 border: 6px solid rgba(255,255,255,1);
 opacity: 1;
}

/*Circulo interno rat贸n posicionado encima*/
#video .icon_wrapper:hover .icon {
  border: 4px solid rgba(255,255,255,0.8);
  opacity: 1;
}

#video .inner_icon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Icono central*/
#video #videoIcon {
  width: 45%;
  fill:white;
  transition: all .2s ease-in-out;
  margin-left: 6px;
}

/*Icono central huerfano*/
#video .huerfano#videoIcon {
  width: 45%;
  fill:red;
  transition: all .2s ease-in-out;
  margin-left: 6px;
}

#video .icon_wrapper:hover #videoIcon {
  width: 35%;
  transition: all .2s ease-in-out;
}

/* Cuando esta expandido o desplegado */

#video.expanded #closeIcon {
  width: 38%;
  transition: all .2s ease-in-out;
  display: block!important;
}
#video.expanded .icon_wrapper:hover #closeIcon {
  width: 30%;
  transition: all .2s ease-in-out;
}
#video.expanded #videoIcon {
  width: 45%;
  display: none!important;
}
#video #closeIcon{
  fill:white;
  transition: all .2s ease-in-out;
}

#video .tip, #video .content {
  position: absolute;
  left: 100px;
  top: -150px;
  padding: 1em;
  border-radius: 5px;
}

#video .content {
  padding: 0;
}

#video .content .content-form {
  padding: 0 .5em;
  margin-top: .5em;
}

#video.expanded {
  z-index: 2;
}

#video .content {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transform-origin: left center;
  -webkit-transform-origin: left center;
}

#video.expanded .content {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

#video .content .content-form > * {
  margin-bottom: 1em;
}

#video .content .image-wrapper {
  padding: 2px
}

#video .content img {
  width: 100%;
}

#video .content > *:last-child {
  margin-bottom: 0;
}

#video .close {
  cursor: pointer;
}

#video input {
  width: 100%;
  height: 30px;
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

#video .button_wrapper {
  width: 100%;
  background-color: #f5f5f5;
}

#video button {
  font-size: .8em;
  padding: 1em;
  background-color: #25aae1;
  border: 2px solid #25aae1;
  color: #fff;
}

/* HOTSPOT ACTIVO HUERFANO*/
/*Icono*/
.active#video .huerfano#videoIcon, .active#video #closeIcon{
  fill: #922B21;
}

/* HOTSPOT ACTIVO */
/*Circulo*/
.active#video .icon {
  border: 4px solid #6e00ff;
  opacity: 1;
}

/*Icono*/
.active#video #videoIcon, .active#video #closeIcon{
  fill: #6e00ff;
}

/*Circulo externo rat贸n posicionado encima*/
.active#video .icon_wrapper:hover {
  border: 6px solid #6e00ff;
  opacity: 1;
 }

 /*Circulo interno rat贸n posicionado encima*/
.active#video .icon_wrapper:hover .icon {
  border: 4px solid #6e00ff;
  opacity: 1;
}

/* HOTSPOT EN MOVIMIENTO */

.moveA:hover{
  animation: moveEffectBorder6 1.5s infinite
}
.moveB{
  animation: moveEffectBorder4 1.5s infinite
}
.moveC{
  animation: moveIcon 1.5s infinite
}

@keyframes moveEffectBorder6 {
  0%  {border: 6px solid #6f00ff;}
  50%   {border: 6px solid rgba(255,255,255,.8);}
  100%  {border: 6px solid #6f00ff;}
}

@keyframes moveIcon {
  0%  {fill: #6e00ff;}
  50%   {fill: white;}
  100%  {fill: #6e00ff;}
}

@keyframes moveEffectBorder4 {
  0%  {border: 4px solid #6f00ff;}
  50%   {border: 4px solid rgba(255,255,255,.8);}
  100%  {border: 4px solid #6f00ff;}
}